<article class='user'>
  <div class='row'>
    <div class='small-12 medium-6 large-4 columns'>

      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <div class='profile-image-upload-area'>
        <%= render 'users/profile_picture', user: resource %>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, required: true, autofocus: true %>
          <%= f.input :email, required: true %>
          <%#= simple_fields_for :image do |g| %>
            <%#= g.input :src, as: :file, label: 'Profile picture' %>
          <%# end %>
          <%= f.association :routes, label: "Routes (Ctrl-select)" %>
          <%= f.association :groups, label: "Groups (Ctrl-select)" if current_user.role == 'staff' %>
          <%= f.label :administrative_area_tokens, "Managed areas" %>
          <%= f.text_field :administrative_area_tokens,
              "data-pre" => @user.administrative_areas.collect{ |a| {id: a.id, name: a.short_name }}.to_json
          %>

          <%= f.association :labels, label: "Label for notification (Ctrl-select)" %>
          <%= f.input :receive_email_notifications %>


          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, autocomplete: "off", label: "Change password (optional)", required: false %>
          <%= f.input :password_confirmation, required: false %>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>

      <%= link_to "Cancel", user_path(resource) %>

    </div>
  </div>
</div>
