<% if @routes.present? %>
  <li>
    <a href="#" class="button select" aria-haspopup="true" data-dropdown="routeSelection" aria-controls="routeSelection" data-options="is_hover:true" aria-expanded="false"><%= @current_route ? (@current_route.try(:name) || @current_route) + " ▼" : "all routes ▼" %></a>
    <ul id="routeSelection" class="f-dropdown" aria-autoclose="false" data-dropdown-content >
      <li class='search-option' data-mini-search='route'>
        <%= form_tag mini_search_path(type: 'route'), method: :get, remote: true do %>
          <%= text_field_tag :query, nil, {placeholder: 'search', autocomplete: :off} %>
        <% end %>
      </li>
      <% unless @current_route.nil? %>
        <li class='default-option all'>
          <%= link_to "all routes", admin_users_path(filter_params(params, {route: nil})) %>
        </li>
      <% end %>
      <% @routes.each do |route| %>
        <% unless @current_route == route %>
          <li class='default-option'>
            <%= link_to route.name, admin_users_path(filter_params(params, {route: route.slug})) %>
          </li>
        <% end %>
      <% end %>

      <% unless @current_route == 'none' %>
        <li>
          <%= link_to 'no route', admin_users_path(filter_params(params, {route: 'none'})) %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
