<div class="comment number-<%= comment.id %> <%= 'last-comment' if comment == @last_comment %> <%= 'hidden' if defined?(hide_comment) %>">
  <% if can? :delete, comment %>
    <%= link_to "&times".html_safe,
        comment_path(comment), method: :delete,
        remote: true,
        class: 'delete-comment'
    %>
  <% end %>
  <div class='comment-content'>
    <% if image = comment.image %>
      <% if @image_ids.present? %>
        <% data_attributes = { reveal_id: "imageZoomModal", index: @image_ids.find_index(image.id) } %>
      <% else %>
        <% data_attributes = false %>
      <% end %>
      <%= image_tag image.src_url(:comment_icon), data: data_attributes, class: "#{ 'zoomable' if data_attributes }" %>
    <% end %>
    <%= comment.formatted_content %>
  </div>
  <div class='comment-footer'>
    <% if comment == @last_comment && comment.user == current_user %>
      <%= link_to 'Edit', edit_comment_path(comment), id: 'edit-comment', remote: true %>
    <% else %>
      &nbsp;
    <% end %>
    <div class='comment-label'>
      <%= render 'users/user_info_link', user: comment.user %>
      at
      <%= comment.created_at.strftime("%H:%M on %d %b %Y") %>
      <%= '(edited)' unless comment.created_at == comment.updated_at %>
    </div>
  </div>
</div>
