
  <%= simple_form_for @issue do |f| %>
    <% if @issue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>
  
        <ul>
        <% @issue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <%#= f.input :issue_number %>
    <div class='row'>
      <div class='medium-6 columns'>
        <%= f.input :category_id, collection: @categories, label: 'Select issue category', include_blank: false %>
        <%#= f.input :title, required: true, label: 'Title (e.g. sign turned)' %>
      </div>
      <div class='medium-6 columns'>
        
        <ul class='list-style category-problems-list'>
          <% @categories.each do |category| %>
            <li id="category-<%= category.id %>-problems" class='category-problems' style='display: none'>
              <%= f.input :problem_id, collection: @problems[category.id], label: 'The problem', disabled: true %>
            </li>
          <% end %>
        </ul>
        <%#= f.input :problem_id, collection: @problems, label: 'The problem' %>
      </div>
    </div>
    <div class='row'>
      <div class='medium-6 columns'>
        <%#= f.input :priority, input_html: { min: 0, max: 3 } %>
        <%= f.input :coordinate, label: 'Coordinate (e.g. 51.52009, -0.10309)' %>
        <%= link_to 'Find your coordinate', '#', id: "openCoordModal", class: 'input-prompt' %>
      </div>
      <div class='medium-6 columns'>
        <%= f.input :location_name, label: 'Location (e.g. street name)' %>
      </div>
    </div>
    <div class='row'>
      <div class='medium-6 columns'>
        <%= f.input :route_id, collection: @routes, as: :select %>
      </div>
      <div class='medium-6 columns'>
        <%= f.input :area_id, collection: @areas, as: :select %>
      </div>
      <div class='medium-6 columns'>

        <div id="myCoordModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <p class='show-for-small-only'>
            Tap the location and close
          </p>
          <p class='show-for-medium-up'>
            Click the location and close
          </p>

          <div id="coord-map-canvas" style="height: 400px;"></div>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

      </div>
    </div>
    <%= f.simple_fields_for :images do |g|  %>
      <div class='row'>
        <div class='medium-6 columns'>
          <%= g.input :url, label: 'Photo url' %>
          <%= link_to 'photos.google.com', 'https://photos.google.com/', class: 'input-prompt', include: '_blank' %>
          <span data-tooltip aria-haspopup="true" class="has-tip input-prompt" title="You can upload photos to the volunteers google acoount. Once uploaded, click the share icon and get the get/copy the shareable link. Then paste the image url here.">(?)</span>
        </div>
        <div class='medium-6 columns'>
          <%= g.input :caption, label: 'Photo caption' %>
        </div>
      </div>
    <% end %>
    <%= f.input :url, label: 'other url (e.g. google street view)' %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>


<div id="data-store"> </div>