
  <%= simple_form_for @issue do |f| %>
    <% if @issue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>
  
        <ul>
        <% @issue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <%#= f.input :issue_number %>
    <div class='row'>
      <div class='medium-6 columns'>
        <%= f.input :title, required: true %>
      </div>
      <div class='medium-6 columns'>
        <%= f.input :location_name, label: 'Location' %>
      </div>
    </div>
    <div class='row'>
      <div class='medium-6 columns'>
        <%= f.input :priority, input_html: { min: 0, max: 3 } %>
      </div>
      <div class='medium-6 columns'>
        <%= f.input :coordinate, required: true, label: 'Coordinate (e.g. 51.52009, -0.10309)' %>
      </div>
    </div>
    <div class='row'>
      <div class='medium-6 columns'>
        <%= f.input :route_id, collection: @routes, as: :select %>
      </div>
      <div class='medium-6 columns'>

      </div>
    </div>
    <%= f.simple_fields_for :images do |g|  %>
      <div class='row'>
        <div class='medium-6 columns'>
          <%= g.input :url %>
        </div>
        <div class='medium-6 columns'>
          <%= g.input :caption %>
        </div>
      </div>
    <% end %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
