
<% if @issue.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

    <ul>
    <% @issue.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%#= f.input :issue_number %>
<% unless @issue.user_id.present? %>
  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
<% end %>

<div class='row'>
  <div class='medium-6 columns'>
    <%= f.input :category_id, collection: @categories, label: 'Select issue category', include_blank: false %>
  </div>
  <div class='medium-6 columns'>
    
    <ul class='list-style category-problems-list'>
      <% @categories.each do |category| %>
        <li id="category-<%= category.id %>-problems" class='category-problems' style='display: none'>
          <% problem_options = [["-",nil]] + @problems[category.id].collect{|p| [p.name, p.id]} + [["Other", nil]] 
          %>
          <%= f.input :problem_id, collection: problem_options, label: 'The problem', disabled: true, include_blank: false, input_html: {selected: @issue.problem_id } %>
        </li>
      <% end %>
    </ul>
    <div class='other-problem-field' style='display:none'>
      <%= f.input :title, label: 'The problem' %>
      <%= link_to '< back to problem list', '#', id: "select-problem", class: 'input-prompt' %>
    </div>
  </div>
</div>
<div class='row'>
  <div class='medium-6 columns'>
    <%= f.input :coordinate, label: 'Coordinate (e.g. 51.52009, -0.10309)' %>
    <%= link_to 'Find your coordinate', '#', id: "openCoordModal", class: 'input-prompt' %>
    &nbsp;
    <span data-tooltip aria-haspopup="true" class="has-tip input-prompt" title="If you can't find your precise location on google maps: save a rough coordinate and then open it using the openstreetmap link. If you can locate the coordinate on openstreetmap: click on their share button and copy and paste their Geo URI or Link to the issue coordinate field. Please don't publish an issue unless you know its precise location.">(?)</span>
  </div>
  <div class='medium-6 columns hide-for-small-when <%= @issue.id.present? ? "update" : "new" %>'>
    <%= f.input :location_name, label: 'Location (auto-completes when blank)' %>
  </div>
</div>
<div class='row'>
  <div class='medium-6 columns'>
    <%= f.input :route_id, collection: @routes, as: :select %>
  </div>
  <div class='medium-6 columns'>
    <%= f.input :area_id, collection: @areas, as: :select, label: 'Group' %>
  </div>
  <div class='medium-6 columns'>

    <div id="myCoordModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <p class='show-for-small-only'>
        Tap the location and close
        <span class='searching-location'>
          searching
          <%= image_tag 'icons/ajax-loader-fb.gif' %>
        </span>
      </p>
      <p class='show-for-medium-up'>
        Click the location and close
        <span class='searching-location'>
          searching
          <%= image_tag 'icons/ajax-loader-fb.gif' %>
        </span>
      </p>

      <div id="coord-map-canvas" style="height: 400px;"></div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

  </div>
</div>

<%= f.input :description, input_html: { rows: 3 } %>

<div class='edit-issue-image-fields'>
  <h2>Photos</h2>
  <%= f.simple_fields_for :images do |g|  %>
    <%= render 'image_fields', f: g %>
  <% end %>

  <%= link_to 'photos.google.com', 'https://photos.google.com/', class: 'input-prompt', target: '_blank' %>
  &nbsp;
  <span data-tooltip aria-haspopup="true" class="has-tip input-prompt" title="You can upload photos to the volunteers google acoount. Once uploaded, open and then right click on the image (mobiles: long touch) and copy the image url. Then paste the image url here.">(?)</span>
</div>

<div class='hide-for-small-when <%= @issue.id.present? ? "update" : "new" %>'>
  <%= f.input :url, label: 'other url (e.g. google street view)' %>
</div>

<% if @issue.id.present? %>
  <div class="row">
    <div class='medium-4 large-3 columns'>
      <%#= f.input :priority, input_html: { min: 0, max: 3 } %>
      <%= f.input :priority, collection: Issue::PRIORITY.collect{ |p| [p[1], p[0]] }, input_html: { selected: @issue.priority } %>
    </div>
  </div>
<% end %>

<%= f.button :submit %>



<div id="data-store"> </div>