
<% if @issue.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

    <ul>
    <% @issue.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.input :user_id, as: :hidden, input_html: { value: (@issue.user_id.to_i > 0 ? @issue.user_id : current_user.id) } %>

<div class='row'>
  <div class='medium-6 columns'>
    <%= f.input :category_id, collection: @categories, label: 'Select issue category', include_blank: false %>
  </div>
  <div class='medium-6 columns'>

    <ul class='list-style category-problems-list'>
      <% @categories.each do |category| %>
        <li id="category-<%= category.id %>-problems" class='category-problems' style='display: none'>
          <% problem_options = [["-",nil]] + @problems[category.id].collect{|p| [p.name, p.id]} + [["Other", nil]]
          %>
          <%= f.input :problem_id, collection: problem_options, label: 'The problem', disabled: true, include_blank: false, input_html: {selected: @issue.problem_id } %>
        </li>
      <% end %>
    </ul>
    <div class='other-problem-field' style='display:none'>
      <%= f.input :title, label: 'The problem' %>
      <%= link_to '< back to problem list', '#', id: "select-problem", class: 'input-prompt' %>
    </div>
  </div>
</div>
<div class='row'>
  <div class='medium-6 columns'>
    <span id="coord-data" style="display:none" data-lat="<%= @issue.lat %>" data-lng="<%= @issue.lng %>" > </span>
    <%= f.input :coordinate, label: 'Coordinate (e.g. 51.52009, -0.10309)' %>
    <%= link_to "#{ @issue.lat && @issue.lng ? 'Edit' : 'Find' } your coordinate", '#', id: "openCoordModal", class: 'input-prompt' %>
    &nbsp;
    <span data-tooltip aria-haspopup="true" class="has-tip input-prompt" title="If you can't find your precise location on google maps: save a rough coordinate and then open it using the openstreetmap link. If you can locate the coordinate on openstreetmap: click on their share button and copy and paste their Geo URI or Link to the issue coordinate field. Please don't publish an issue unless you know its precise location.">(?)</span>
  </div>
  <div class='medium-6 columns hide-for-small-when <%= @issue.id.present? ? "update" : "new" %>'>
    <%= f.input :location_name, label: 'Location (auto-completes when blank)' %>
  </div>
</div>
<div class='row'>
  <div class='medium-6 large-3 columns'>
    <%= f.label :route_id, "Route" %>
    <%= f.text_field :route_id,
        "data-pre" => (f.object.route ? [{id: f.object.route.id, name: f.object.route.name }].to_json : nil)
    %>

  </div>
  <div class='medium-6 columns'>
    <%#= f.input :group_id, collection: @groups, as: :select, label: 'Group  (leave blank to guess from coordinate)' %>
  </div>
  <div class='medium-6 columns'>

    <div id="myCoordModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <p class='show-for-small-only'>
        Tap the location and close
        <span class='searching-location'>
          searching
          <%= image_tag 'icons/ajax-loader-fb.gif' %>
        </span>
      </p>
      <p class='show-for-medium-up'>
        Click the location and close
        <span class='searching-location'>
          searching
          <%= image_tag 'icons/ajax-loader-fb.gif' %>
        </span>
      </p>

      <div id="coord-map-canvas" style="height: 400px;"></div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

  </div>
</div>

<%= f.label :description, 'Description of problem', style: 'display:inline' %>
<span
  data-tooltip
  aria-haspopup="true"
  class="has-tip input-prompt"
  title="Give only a third-person summary of the problem and any information that may be helpful in resolving it. Write further information about what you have done as a comment below. This is to enable problem descriptions to be printed and shared"
>(?)
</span>

<%= f.input :description, input_html: { rows: 5 }, label: false %>

<div class='edit-issue-image-fields'>
  <h2>Photos</h2>
  <% if @issue.new_record? %>
    <p class='tip'>
      You can upload an image here after you have saved the issue. Simply click on the edit button after you have clicked 'Create issue' and following the next instructions.
    </p>
  <% else %>
    <p class='tip'>
      There are two ways to upload pictures:<br>
      1) Copy the URL of an image that is publicly available on the internet (e.g. google photos that are added to a shared folder)<br>
      2) Browse/locate the image on your phone or computer.<br>
      Use the second method if you wish to upload a photo by directly taking a photo with your phone. Once you have chosen a photo by one of these methods then click Create/Update Issue on the bottom of the page to save your changes. You can only upload one image at a time. To upload a second image, click edit on the issue and select a new file to upload. Note that it can take a long time to upload photos from your phone using a rural mobile data connection.
    </p>

    <%= f.simple_fields_for :images do |g|  %>
      <%= render 'image_fields', f: g %>
    <% end %>

    <%= link_to 'photos.google.com', 'https://photos.google.com/', class: 'input-prompt', target: '_blank' %>
    &nbsp;
    <span data-tooltip aria-haspopup="true" class="has-tip input-prompt" title="You can upload photos to the volunteers google acoount. Once uploaded, open and then right click on the image (mobiles: long touch) and copy the image url. Then paste the image url here.">(?)</span>
  <% end %>
</div>

<div class='hide-for-small-when <%= @issue.id.present? ? "update" : "new" %>'>
  <%= f.input :url, as: :string, label: 'other url (e.g. google street view)' %>
</div>

<% if @issue.id.present? %>
  <div class="row">
    <div class='medium-4 large-3 columns'>
      <% if can? :read, Label %>
        <%= f.input :priority, collection: Issue::PRIORITY.collect{ |p| [p[1], p[0]] }, input_html: { selected: @issue.priority } %>
      <% end %>
    </div>
    <div class='medium-4 large-3 columns'>
      <% if can? :read, Label %>
        <%= f.association :labels %>
      <% end %>
    </div>
    <% if (@issue.closeable? || @issue.closed?) && (can? :read, Label) %>
      <div class='medium-4 large-3 columns'>
        <%= f.input :resolution %>
      </div>
    <% end %>
  </div>
<% end %>

<div class='submit-or-cancel'>
  <% canel_link = f.object.new_record? ? issues_path : issue_number_path(@issue.issue_number) %>
  <%= link_to 'cancel', canel_link %>
  <%= f.button :submit, data: { disable_with: 'saving...'} %>
</div>



<div id="data-store"> </div>
