<table class="route-specification">
  <body>
    <tr>
      <td>Route:</td>
      <td><%= @issue.route.present? ? @issue.route.name : emph_none %></td>
    </tr>
    <td>Group:</td>
    <td><%= @issue.group.present? ? @issue.group.name : emph_none %></td>
    <tr>
      <td>Location:</td>
      <td><%= @issue.location_name.present? ? @issue.location_name : emph_none %></td>
    </tr>
      <tr>
        <td>Administrative area:</td>
        <td><%= @issue.administrative_area.present? ? @issue.administrative_area.name : emph_none %></td>
      </tr>
    <tr>
      <td>Coordinate:</td>
      <td>
        <% if @issue.lat && @issue.lng %>
          <%= @issue.coordinate %>
          <div>
            <%=
                link_to 'openstreetmap', "http://www.openstreetmap.org/?mlat=#{@issue.lat}&mlon=#{@issue.lng}&layers=C", target: :_blank
            %>,
            <%=
                link_to 'googlemaps', "http://maps.google.com/?q=#{@issue.lat},#{@issue.lng}", target: :_blank
            %>
          </div>
        <% else %>
          <%= emph_none %>
        <% end %>
      </td>
    </tr>
  </body>
</table>
