<div class="progress-bar"><%= state_progress_bar @issue.state, @issue.resolution %></div>

<% priority = Issue::PRIORITY[@issue.priority] %>
<h4 class="issue-state <%= priority %> <%=t 'state.'+@issue.state %>"
  title="issue state is <%=t 'state.'+@issue.state %> and has a<%= priority ? ' '+priority : 'n undefined' %> priority">
  <%= @issue.status %>
</h4>

<% if @issue.submitted? && !can_publish_issue?(@issue) %>
    <span class='post-title-text'>awaiting review<span>
<%  end %>
