
<%= render 'google_maps/markers.js', issues: @issues %>

<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>

      <h1>Listing issues</h1>

      <table>
        <thead>
          <tr>
            <th title='Sort by issue number' class="<%= tab_selection_style(params) %>">
              <%= link_to 'No.', issues_path(order: :number, dir: tab_sort_dir('number', params)) %>
            </th>
            <th title='Sort by summary of problem'>
              <%= link_to 'Issue', issues_path(order: :title, dir: tab_sort_dir('title', params)) %>
            </th>
            <th title='Sort by location summary'>
              <%= link_to 'Location', issues_path(order: :location, dir: tab_sort_dir('location', params)) %>
            </th>
            <th title='Sort by latitude'>
              <%= link_to 'Lat', issues_path(order: :lat, dir: tab_sort_dir('lat', params)) %>
            </th>
            <th title='Sort by longitude'>
              <%= link_to 'Lng', issues_path(order: :lng, dir: tab_sort_dir('lng', params)) %>
            </th>
            <th title='Sort by date of last modification or comment'>
              <%= link_to "Last updated", issues_path(order: :modified, dir: tab_sort_dir('modified', params)) %>
            </th>
            <th title='Sort by issue status'>
              <%= link_to "State", issues_path(order: :state, dir: tab_sort_dir('state', params)) %>
            </th>
            <th colspan="2"> </th>
            <th title='Sort by priority'>
              <%= link_to "p #{ tab_arrow('priority', params) }".html_safe, issues_path(order: :priority, dir: tab_sort_dir('priority', params)) %>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <td><%= issue.issue_number %></td>
              <td><%= issue.title %></td>
              <td><%= issue.location_name[0..50] %></td>
              <td><%= sprintf("%1.4f", issue.lat) %></td>
              <td><%= sprintf("%1.4f", issue.lng) %></td>
              <td><%= issue.updated_at.strftime("%d-%b-%Y") %></td>
              <td><%= issue.state %></td>
              <td><%= link_to 'Show', issue %></td>
              <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
              <td style="background-color: <%= priority_colour(issue.priority) %>"><%#= link_to '×', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Issue', new_issue_path %>

      <div id="map-canvas" style="width: 100%; height: 400px;"></div>

    </div>
  </div>
</div>