
<%= render('google_maps/markers.js', issues: @issues) if @issues.present? %>

<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>
      <%#= simple_form_for(:routes, url: issues_path, method: :get) do |f| %>
        <%#= f.input :id, collection: @routes, label: false, input_html: { name: :routes } %>
      <%# end %>
      <ul class='small-block-grid-1 medium-block-grid-4 issue-filters'>
        <li>
          <%= form_tag issues_path, method: :get do %>
            <%= select_tag(
              :route,
              options_for_select(
                @routes.collect{ |x| [x.name, x.id] },
                selected: params[:route]),
              {class: '', prompt: 'all routes'},
            )%>
          <% end %>
        </li>
        <li>
          <%= form_tag issues_path, method: :get do %>
            <%= select_tag(
              :state,
              options_for_select(
                ["all"] + @states,
                selected: params[:state]),
              {prompt: 'status (default)'},
            )%>
          <% end %>
        </li>
      </ul>

      <h1>Issues</h1>
      &nbsp;-&nbsp;<%= link_to 'create new', new_issue_path, class: 'create-new-issue' %>

      <table>
        <thead>
          <tr>
            <%= table_header('No.', 'issue number', 'number', params) %>
            <%= table_header('Issue', 'summary of problem', 'title', params) %>
            <%= table_header('Location', 'location summary', 'location', params) %>
            <%= table_header('Lat', 'latitude', 'lat', params) %>
            <%= table_header('Lng', 'longitude', 'lng', params) %>
            <%= table_header('Last updated', 'date of last modification or comment', 'modified', params) %>
            <%= table_header('Status', 'issue status', 'state', params) %>
            <th colspan="2"> </th>
            <%= table_header('p', 'priority', 'priority', params) %>
          </tr>
        </thead>

        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <td><%= issue.issue_number %></td>
              <td><%= issue.title %></td>
              <td><%= issue.location_name[0..50] %></td>
              <td><%= sprintf("%1.4f", issue.lat) %></td>
              <td><%= sprintf("%1.4f", issue.lng) %></td>
              <td><%= issue.updated_at.strftime("%d-%b-%Y") %></td>
              <td><%= issue.state %></td>
              <td><%= link_to 'Show', issue %></td>
              <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
              <td style="background-color: <%= priority_colour(issue.priority) %>"><%#= link_to '×', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <div id="map-canvas" style="width: 100%; height: 400px;"></div>

    </div>
  </div>
</div>