
<%= render 'google_maps/markers.js', issues: @issues %>

<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>

      <h1>Listing issues</h1>

      <table>
        <thead>
          <tr>
            <th title='Sort by issue number' class="<%= tab_selection_style(params) %>">
              <%= tab_link('No.', 'number', params) %>
            </th>
            <th title='Sort by summary of problem'>
              <%= tab_link('Issue', 'title', params) %>
            </th>
            <th title='Sort by location summary'>
              <%= tab_link('Location', 'location', params) %>
            </th>
            <th title='Sort by latitude'>
              <%= tab_link('Lat', 'lat', params) %>
            </th>
            <th title='Sort by longitude'>
              <%= tab_link('Lng', 'lng', params) %>
            </th>
            <th title='Sort by date of last modification or comment'>
              <%= tab_link('Last updated', 'modified', params) %>
            </th>
            <th title='Sort by issue status'>
              <%= tab_link('Sate', 'state', params) %>
            </th>
            <th colspan="2"> </th>
            <th title='Sort by priority'>
              <%= tab_link('p', 'priority', params) %>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <td><%= issue.issue_number %></td>
              <td><%= issue.title %></td>
              <td><%= issue.location_name[0..50] %></td>
              <td><%= sprintf("%1.4f", issue.lat) %></td>
              <td><%= sprintf("%1.4f", issue.lng) %></td>
              <td><%= issue.updated_at.strftime("%d-%b-%Y") %></td>
              <td><%= issue.state %></td>
              <td><%= link_to 'Show', issue %></td>
              <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
              <td style="background-color: <%= priority_colour(issue.priority) %>"><%#= link_to '×', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Issue', new_issue_path %>

      <div id="map-canvas" style="width: 100%; height: 400px;"></div>

    </div>
  </div>
</div>