<% content_for :title, "Issues index - #{ @application_tagline }" %>


<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>
    <%#= simple_form_for(:routes, url: issues_path, method: :get) do |f| %>
    <%#= f.input :id, collection: @routes, label: false, input_html: { name: :routes } %>
    <%# end %>


    <h1>Issues</h1>

    <% if can? :create, Issue %>
      &nbsp;-&nbsp;<%= link_to 'create new', new_issue_path, class: 'create-new-issue' %>
    <% end %>

    <%= render 'shared/search_by_location' %>


      <div class='issues-table-container'>
        <%= render 'issue_filters' %>

        <table class='issues responsive'>
          <thead>
            <tr>
              <%= table_header('No.', 'issue number', 'number', params) %>
              <%= table_header('Category', 'issue category', 'category', params) %>
              <%= table_header('Issue', 'summary of problem', 'title', params) %>
              <%= table_header('Location', 'location summary', 'location', params) %>
              <%= table_header('Route', 'cycle route', 'route', params) %>
              <%= table_header('Lat', 'latitude', 'lat', params) %>
              <%= table_header('Lng', 'longitude', 'lng', params) %>
              <%= table_header('Last&nbsp;updated', 'date of last modification or comment', 'modified', params) %>
              <%= table_header('Status', 'issue status', 'state', params) %>
              <th> </th>
              <%= table_header('p', 'priority', 'priority', params) %>
            </tr>
          </thead>

          <tbody>
            <% @issues.each do |issue| %>
              <tr>
                <td><%= link_to issue.issue_number, issue_path(filter_params(params, {id: issue.id})) %></td>
                <td><%= issue.category.name if issue.category %></td>
                <td><%= issue.the_problem[0..16] %></td>
                <td><%= issue.location_name[0..50] %></td>
                <td><%= issue.route.name if issue.route %></td>
                <td><%= sprintf("%1.4f", issue.lat) if issue.lat %></td>
                <td><%= sprintf("%1.4f", issue.lng) if issue.lng %></td>
                <td><%= issue.updated_at.strftime("%d-%b-%Y") if issue.updated_at %></td>
                <td><%=t 'state.'+issue.state %></td>
                <td><%= link_to 'Show', issue_path(filter_params(params, {id: issue.id})) %></td>
                <td style="background-color: <%= priority_colour(issue.priority) %>"> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <div class='download-issues'>
        download
        <%= link_to "CSV", issues_path(filter_params(params, {format: "csv"})) %>,
        <%= link_to "PDF", issues_path(filter_params(params, {format: "pdf"})) %>
        <%= link_to "GPX", issues_path(filter_params(params, {format: "gpx"})) %>
      </div>
      </div>

      <br>

      <div id="map-canvas" style="width: 100%; height: 500px;"></div>

    </div>
  </div>
</div>

<%= render('google_maps/markers.js', issues: @issues_with_coords) if @issues_with_coords.present? %>
