
<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>
    

    

    <%#= link_to '◄ back to index', issues_path(the_params(params)), class: 'back-to-index' %>

    <div class='row'>
      <div class='medium-6 columns'>
        <div class='issue-title-and-nav'>
          <%= 
            if @prev_issue_id
              link_to issue_path(the_params(params, {id: @prev_issue_id})) do
                image_tag 'icons/arrow-large-left-blue.svg', title: 'previous issue', alt: '<'
              end
            else
              image_tag 'icons/arrow-large-left-grey.svg', title: 'no more', alt: ''
            end
          %>
          <h1>Issue <%= @issue.issue_number %></h1>
          <%= 
            if @next_issue_id
              link_to issue_path(the_params(params, {id: @next_issue_id})) do
                image_tag 'icons/arrow-large-right-blue.svg', title: 'next issue', alt: '>'
              end
            else
              image_tag 'icons/arrow-large-right-grey.svg', title: 'no more', alt: ''
            end
          %>
          <span class='create-new-issue-container'>
            -&nbsp;<%= link_to 'new', new_issue_path, class: 'create-new-issue' %>
          </span> 
        </div>
      </div>
      <div class='medium-6 columns'>
        <h4><%= @issue.state %></h4>
        <% if @issue.submitted? && !can_publish_issue?(@issue) %>
            <span class='pending-review'>awaiting review<span>
        <%  end %>
      </div>
    </div>

    <div class='row'>
      <div class='medium-6 columns'>

        <table>
          <body>
            <tr>
              <td>Category:</td>
              <td><%= @issue.category.name if @issue.category %></td>
            </tr>
            <tr>
              <td>Problem:</td>
              <td>
                <%= 
                  if @issue.problem
                    @issue.problem.name 
                  else
                    @issue.title
                  end
                %>
              </td>
            </tr>
            <tr>
              <td>Priority:</td>
              <td><%= Issue::PRIORITY[@issue.priority] if @issue.priority %></td>
            </tr>
          </body>
        </table>

      </div>
      <div class='medium-6 columns'>
        

        <%= render 'state_control_buttons' %>

        <table>
          <body>
            <tr>
              <td>Reporter:</td>
              <td>
                <%= 
                  if @issue.user
                    link_to @issue.user.name, user_path(@issue.user)
                  end
                %>
              </td>
            </tr>
            <% if @issue.reported_at %>
              <tr>
                <td>Reported:</td>
                <td><%= @issue.reported_at.strftime("%H:%M - %d %b %Y") %></td>
              </tr>
            <% end %>
            <% if @issue.completed_at && (@issue.resolved? || @issue.closed?) %>
              <tr>
                <td>Completed:</td>
                <td><%= @issue.completed_at.strftime("%H:%M - %d %b %Y") %></td>
              </tr>
            <% end %>
            <tr>
              <td>Updated:</td>
              <td><%= @issue.edited_at.strftime("%H:%M - %d %b %Y") %></td>
            </tr>
          </body>
        </table>

      </div>
    </div>
    
  </div>
</div>
<div class='row'>
  <div class='medium-6 columns'>

    <table>
      <body>
        <% if @issue.route.present? %>
          <tr>
            <td>Route:</td>
            <td><%= @issue.route.name %></td>
          </tr>
        <% end %>
        <% if @issue.area.present? %>
          <td>Area:</td>
          <td><%= @issue.area.name %></td>
        <% end %>
        <% if @issue.location_name.present? %>
          <tr>
            <td>Location:</td>
            <td><%= @issue.location_name %></td>
          </tr>
        <% end %>
        <% if @issue.administrative_area.present? %>
          <tr>
            <td>Administrative area:</td>
            <td><%= @issue.administrative_area.name %></td>
          </tr>
        <% end %>
        <tr>
          <td>Coordinate:</td>
          <td> 
            <%= @issue.coordinate %>
            <% if @issue.lat && @issue.lng %>
              <div>
                <%= 
                    link_to 'openstreetmap', "http://www.openstreetmap.org/?mlat=#{@issue.lat}&mlon=#{@issue.lng}&layers=C", tarket: :_blank 
                %>,
                <%=
                    link_to 'googlemaps', "http://maps.google.com/?q=#{@issue.lat},#{@issue.lng}", tarket: :_blank
                %>
              </div>
            <% end %>
          </td>
        </tr>
      </body>
    </table>

    <p>
      <strong>Description:</strong>
      <% if @issue.description.present? %>
        <%= @issue.description %>
      <% else %>
        <span style='color:grey'>none</span>
      <% end %>
    </p>

    <div class='row'>
      <div class='medium-5 medium-11 large-9 columns'>
        <div id='comments'>
          <%= render 'comments/comments', 
            comments: @issue.comments, 
            issue: @issue,
            new_comment: @new_comment
          %>
        </div>
      </div>
    </div>

  </div>
  <div class='medium-6 columns'>

    <%= render 'alternative_url' %>

    <% if @issue.images.present? %>
      <div id='issue-page-images' class='owl-carousel'>
        <%= render 'issue_images' %>
      </div>
    <% end %>
  </div>
</div>



<div id="imageZoomModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div id='issue-modal-images' class='owl-carousel'>
     <%= render 'issue_images', is_modal: true %>
  </div>
</div>

<div class='row'>
  <div class='small-12 columns'>

    <br><br>

      

    
      <div id="map-canvas" style="width: 100%; height: 400px;"></div>

      <br><br>

      <p>
        <% if can? :destroy, @issue %>
          <%= link_to 'delete', @issue, method: :delete, data: { confirm: 'Are you sure you want to delete this issue?' }, style: "float: right" %>
        <% end %>
        <%= link_to 'Edit', edit_issue_path(@issue) %> |
        <%= link_to 'Index', issues_path %>
      </p>
    </div>
  </div>
</article>

<%= render 'google_maps/markers.js', issues: @issues.where.not(lat: nil, lng: nil), this_issue: @issue %>
 