<%= render 'google_maps/markers.js', issues: @issues.where.not(lat: nil, lng: nil), this_issue: @issue %>


<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>
    
    <p id="notice"><%= notice %></p>
    

    
    <div class='row'>
      <div class='medium-6 columns'>
        <p>
          <strong>Issue number:</strong>
          <%= @issue.issue_number %>
        </p>
        
        <p>
          <strong>Title:</strong>
          <%= @issue.title %>
        </p>
      </div>
      <div class='medium-6 columns'>
        <p>
          <strong>Priority:</strong>
          <%= @issue.priority %>
        </p>

        <p>
          <strong>Location:</strong>
          <%= @issue.location_name %>
        </p>
        <p>
          <strong>Coordinate:</strong>
          <%=
            if @issue.coordinate.present?
              link_to @issue.coordinate, "http://maps.google.com/?q=#{@issue.lat},#{@issue.lng}", tarket: :_blank
            end
          %>
        </p>
      </div>
    </div>
    
    <p>
      <strong>Description:</strong>
      <%= @issue.description %>
    </p>

  </div>
</div>
<div class='row'>
  <div class='medium-6 columns'>
    <% if @issue.url.present? %>
      <% 
        if @issue.url.length > 30
          general_url = "#{@issue.url[0..20]}&hellip; &hellip;#{@issue.url[-10..-1]}".html_safe
        else
          general_url = @issues_url
        end
      %>
      <p>
        <b>url: </b><%= link_to general_url, @issue.url, target: '_blank' %>
      </p>
    <% end %>

    <p>
      <strong>Time reported:</strong>
      <%= @issue.reported_at.strftime("%d %b %Y") if @issue.reported_at %>
    </p>
    
    <p>
      <strong>Time completed:</strong>
      <%= @issue.completed_at.strftime("%d %b %Y") if @issue.completed_at %>
    </p>

    <p>
      <strong>Route:</strong>
      <%= @issue.route.name if @issue.route.present? %>
    </p>

    <p>
      <strong>area:</strong>
      <%= @issue.area.name if @issue.area.present? %>
    </p>

    <p>
      Status: <%= @issue.state %>
    </p>
  </div>
  <div class='medium-6 columns'>
    <% if @issue.images.present? %>
      <div class='issue-images'>
        <%= image_tag @issue.images.first.url %>
        <div class='caption'>
          <%= @issue.images.first.caption %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='small-12 columns'>

    <p>
      <%= 
        if @issue.draft? 
          button_to 'Publish', [:progress, @issue], method: :put, params: [:publish], class: 'button tiny'
        end
      %>
      <%= 
        if @issue.resolved?
          button_to 'Close', [:progress, @issue], method: :put, params: [:close], class: 'button tiny success'
        end
        %>
      <% if @issue.open? || @issue.reopened? %>
        <%= button_to 'Resolve', [:progress, @issue], method: :put, params: [:resolve], class: 'button tiny success' %>
        <%= button_to "Can't resolve", [:progress, @issue], method: :put, params: [:reject], class: 'button tiny secondary' %>
      <% end %>
      <%=
        if @issue.reopenable?
          button_to 'Reopen', [:progress, @issue], method: :put, params: [:reopen], class: 'button tiny secondary'
        end
      %>
      <%= 
        if @issue.open?
          button_to 'Archive', [:progress, @issue], method: :put, params: [:archive], class: 'button tiny secondary'
        end
      %>

    </p>
    
    <%= link_to 'Edit', edit_issue_path(@issue) %> |
    <%= link_to 'Index', issues_path %>
    <%= link_to 'delete', @issue, method: :delete, data: { confirm: 'Are you sure?' }, style: "float: right" %>
    <br><br>

      

    
    <div id="map-canvas" style="width: 100%; height: 400px;"></div>

    </div>
  </div>
</article>

 