<%= render 'google_maps/markers.js', issues: @issues.where.not(lat: nil, lng: nil), this_issue: @issue %>


<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>
    
    <p id="notice"><%= notice %></p>
    
    <h1>Issue <%= @issue.issue_number %></h1>

    
    <div class='row'>
      <div class='medium-6 columns'>

        <table>
          <body>
            <tr>
              <td>Category:</td>
              <td><%= @issue.category.name if @issue.category %></td>
            </tr>
            <tr>
              <td>Problem:</td>
              <td>
                <%= 
                  if @issue.problem
                    @issue.problem.name 
                  else
                    @issue.title
                  end
                %>
              </td>
            </tr>
            <tr>
              <td>Priority:</td>
              <td><%= Issue::PRIORITY[@issue.priority] if @issue.priority %></td>
            </tr>
          </body>
        </table>

      </div>
      <div class='medium-6 columns'>
        <h4><%= @issue.state %></h4>

        <table>
          <body>
            <% if @issue.reported_at %>
              <tr>
                <td>Time reported:</td>
                <td><%= @issue.reported_at.strftime("%d %b %Y") %></td>
              </tr>
            <% end %>
            <% if @issue.completed_at && @issue.resolved? || @issue.closed? %>
              <tr>
                <td>Time completed:</td>
                <td><%= @issue.completed_at.strftime("%d %b %Y") %></td>
              </tr>
            <% end %>
          </body>
        </table>

      </div>
    </div>
    
  </div>
</div>
<div class='row'>
  <div class='medium-6 columns'>

    <table>
      <body>
        <% if @issue.route.present? %>
          <tr>
            <td>Route:</td>
            <td><%= @issue.route.name %></td>
          </tr>
        <% end %>
        <% if @issue.area.present? %>
          <td>Area:</td>
          <td><%= @issue.area.name %></td>
        <% end %>
        <% if @issue.location_name.present? %>
          <tr>
            <td>Location:</td>
            <td><%= @issue.location_name %></td>
          </tr>
        <% end %>
        <% if @issue.coordinate.present? %>
          <tr>
            <td>Coordiante:</td>
            <td><%= link_to @issue.coordinate, "http://maps.google.com/?q=#{@issue.lat},#{@issue.lng}", tarket: :_blank %></td>
          </tr>
        <% end %>
      </body>
    </table>

    <p>
      <strong>Description:</strong>
      <%= @issue.description %>
    </p>

  </div>
  <div class='medium-6 columns'>

    <% if @issue.url.present? %>
      <% 
        if @issue.url.length > 30
          general_url = "#{@issue.url[0..20]}&hellip; &hellip;#{@issue.url[-10..-1]}".html_safe
        else
          general_url = @issues_url
        end
      %>
      <% if @issue.url.present? %>
        <p>
          <% if @issue.url.include?('google') && @issue.url.include?('maps') && @issue.url.include?('3Dmaps') %>
            street view:
          <% else %>
            url:
          <% end %>

          <%= link_to general_url, @issue.url, target: '_blank' %>
        </p>
      <% end %>
    <% end %>


    <% if @issue.images.present? %>
      <div class='issue-images'>
        <%= image_tag @issue.images.first.url %>
        <div class='caption'>
          <%= @issue.images.first.caption %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='small-12 columns'>

    <p>
      <%= 
        if @issue.draft? 
          button_to 'Publish', [:progress, @issue], method: :put, params: [:publish], class: 'button tiny'
        end
      %>
      <%= 
        if @issue.resolved?
          button_to 'Close', [:progress, @issue], method: :put, params: [:close], class: 'button tiny success'
        end
        %>
      <% if @issue.open? || @issue.reopened? %>
        <%= button_to 'Resolve', [:progress, @issue], method: :put, params: [:resolve], class: 'button tiny success' %>
        <%= button_to "Can't resolve", [:progress, @issue], method: :put, params: [:reject], class: 'button tiny secondary' %>
      <% end %>
      <%=
        if @issue.reopenable?
          button_to 'Reopen', [:progress, @issue], method: :put, params: [:reopen], class: 'button tiny secondary'
        end
      %>
      <%= 
        if @issue.open?
          button_to 'Archive', [:progress, @issue], method: :put, params: [:archive], class: 'button tiny secondary'
        end
      %>

    </p>
    
    <%= link_to 'Edit', edit_issue_path(@issue) %> |
    <%= link_to 'Index', issues_path %>
    <%= link_to 'delete', @issue, method: :delete, data: { confirm: 'Are you sure?' }, style: "float: right" %>
    <br><br>

      

    
    <div id="map-canvas" style="width: 100%; height: 400px;"></div>

    </div>
  </div>
</article>

 