<% 
  locations = [
    ['Bondi Beach', 51.530244, -0.110010, 3, 'yellow'],
    ['Coogee Beach', 51.501294, -0.187944, 2, 'green'],
    ['Cronulla Beach', 51.512513, -0.084089, 1, 'red']
  ]
%>

<%= render 'google_maps/markers.js', locations: locations %>
<%#= render(:partial => 'google_maps/markers', :handlers => [:erb], :formats => [:js]) %>



<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>
    
    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>Issue number:</strong>
      <%= @issue.issue_number %>
    </p>
    
    <p>
      <strong>Title:</strong>
      <%= @issue.title %>
    </p>
    
    <p>
      <strong>Description:</strong>
      <%= @issue.description %>
    </p>
    
    <p>
      <strong>Priority:</strong>
      <%= @issue.priority %>
    </p>
    
    <p>
      <strong>Time reported:</strong>
      <%= @issue.time_reported %>
    </p>
    
    <p>
      <strong>Time completed:</strong>
      <%= @issue.time_completed %>
    </p>
    
    <%= link_to 'Edit', edit_issue_path(@issue) %> |
    <%= link_to 'Back', issues_path %>
    

    
    <div id="map-canvas" style="width: 100%; height: 400px;"></div>

    </div>
  </div>
</article>

