<%= render 'google_maps/markers.js', issues: @issues, this_issue: @issue %>


<article class='issue'>
  <div class='row'>
    <div class='small-12 columns'>
    
    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>Issue number:</strong>
      <%= @issue.issue_number %>
    </p>
    
    <div class='row'>
      <div class='medium-6 columns'>
        <p>
          <strong>Title:</strong>
          <%= @issue.title %>
        </p>
      </div>
      <div class='medium-6 columns'>
        <p>
          <strong>Location:</strong>
          <%= @issue.location_name %>
        </p>
        <p>
          <strong>Coordinate:</strong>
          <%=
            if @issue.coordinate.present?
              link_to @issue.coordinate, "http://maps.google.com/?q=#{@issue.lat},#{@issue.lng}", tarket: :_blank
            end
          %>
        </p>
      </div>
    </div>
    
    <p>
      <strong>Description:</strong>
      <%= @issue.description %>
    </p>
    
    <p>
      <strong>Priority:</strong>
      <%= @issue.priority %>
    </p>
    
    <p>
      <strong>Time reported:</strong>
      <%= @issue.time_reported %>
    </p>
    
    <p>
      <strong>Time completed:</strong>
      <%= @issue.time_completed %>
    </p>
    
    <%= link_to 'Edit', edit_issue_path(@issue) %> |
    <%= link_to 'Index', issues_path %>
    <br><br>

    
    <div id="map-canvas" style="width: 100%; height: 400px;"></div>

    </div>
  </div>
</article>

