<%
  if Issue::PRIORITY[@issue.priority] == 'high'
    priority_phrase = "a high priority"
  else
    priority_phrase = "an"
  end
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>!</p>

    <% if @event_type == :change %>
      <p>Just to let you know that <%= @issue.editor.first_name %> changed issue <%= @issue.issue_number %> to high priority.</p>
    <% else %>
      <p>Just to let you know that <%= @issue.user.first_name %> submitted <%= priority_phrase %> issue.</p>
    <% end %>

    <p>You can review this issue here:<br>
      <%= link_to issue_number_url(@issue.issue_number), issue_number_url(@issue.issue_number) %>
    </p>

    <p>Best wishes,</p>
    <p><b>ncn-reporting</b></p>
    <%= render 'shared_footer' %>
  </body>
</html>
