<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>!</p>
    <p>
      Just to remind you of the following <%= "issue".pluralize @total_pending_count %> 
      that <%= @total_pending_count == 1 ? 'is' : 'are' %>  awaiting your attention.
    </p>

    <ul>
      <%= render 'site/notification_types' %>
    </ul>

    <% if @old_issue  %>
      <p>
        At least one draft issue is older than two weeks. If you created an issue that you do not wish to publish then deleting it will stop this notification. You will find a delete link at the bottom right of your draft issue page.
      </p>
    <% end %>

    <% if @open_label_counts.keys.include?(:sustrans) || @open_label_counts.keys.include?(:council) %>
      <p>
        <% if @open_label_counts.keys.include?(:sustrans) %>
          Open 'sustrans' issues are those that require Sustrans staff attention.
        <% end %>
        <% if @open_label_counts.keys.include?(:council) %>
          Open 'council' issues are those that require reporting to the council or landowner.
        <% end %>
        If you no longer need to receive notification of these issues because you have responded to a comment or informed the relevant body, you can either change the label if it no longer applies or click the 'Start' button on the issue to mark it as 'in progress'.
      </p>
    <% end %>

    <br>
    <p>Best wishes,</p>
    <p><b>ncn-reporting</b></p>
    <br>
    <hr>
    <div style="font-size:12px; color:#777;">
      <p>
        You received this email because you volunteer or work for Sustrans and agreed to be signed up to the online National Cycle Network route issue management application <%= link_to 'ncn reporting', root_url %>.
      </p>
      <p>
        <b>No longer want to receive these notifications?</b><br>
        You can disable the notifications on your profile page here:<br>
        <%= link_to edit_user_registration_url, edit_user_registration_url %>
      </p>
      <p>You can also select which open issue notifications you receive by updating your "Label for notification" options</p>
    </div>
  </body>
</html>