<div class='profile-image'>
  <% if image && !image.destroyed? && !image.new_record? %>
    <%= image_tag image.src_url(:small_thumb) %>
    <%= button_to "&times;".html_safe,
      image_path(image.id),
      remote: true,
      method: :delete,
      data: { confirm: "Are you sure you want to delete your profile picture?", disable_with: "deleting..." },
      class: 'link-style delete-image'
    %>
  <% else %>
    <%= image_tag 'missing-profile-picture.svg', class: 'missing-profile-picture' %>
  <% end %>
</div>

<%= link_to 'upload profile picture', '#', class: 'reveal-browse-button' %>

<% image = Image.new if !image || image.destroyed? %>

<%= simple_form_for image, remote: true, html: { multipart: true } do |f| %>
  <%= f.input :src, as: :file, label: false, input_html: { style: 'display: none', value: nil } %>
  <%= f.input :id,  as: :hidden, input_html: { value: image.try(:id) } %>
  <%= f.input :owner_id, as: :hidden, input_html: { value: current_user.id } %>
  <%= f.input :owner_type, as: :hidden, input_html: { value: 'User' } %>
  <%#= f.button :submit, "Upload #{ resource.image ? 'new' : '' } image", class: 'secondary' %>
<% end %>
