<h3>Recently created issues</h3>

<% if @user.issues.present? %>
  <table>
    <thead>
      <tr>
        <td>No.</td>
        <td>Category</td>
        <td>Issue</td>
        <td>Location</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <% @user.issues.order(id: :desc).limit(10).each do |issue| %>
        <tr>
          <td><%= link_to issue.issue_number, issue_number_path(issue.issue_number) %></td>
          <td><%= issue.category.name if issue.category %></td>
          <td><%= issue.the_problem %></td>
          <td><%= issue.location_name %></td>
          <td><%= issue.state %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @user.issues.count > 10 %>
    <%= link_to 'show all user issues', issues_path(user: @user.id) %>
  <% end %>
<% else %>
  <p style="color:grey">none</p>
<% end %>