<% content_for :title, "#{ @user.name } - #{ @application_tagline }" %>


<article class='user'>
  <div class='row'>
    <div class='small-12 medium-6 large-4 columns'>

      <h1><%= @user.name %></h1>

      <% if @user.image %>
        <%= link_to image_tag(@user.image.src_url(:thumb)), '#', data: { reveal_id: 'profilePictureModal' } %>

        <div id="profilePictureModal" class="reveal-modal small" data-reveal aria-hidden="true" role="dialog">
          <%= image_tag @user.image.src_url(:main), alt: @user.name %>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

      <% else %>
        <%= image_tag 'missing-profile-picture.svg' %>
      <% end %>

      <table>
        <tbody>
          <% if current_user.can_view_email?(@user) %>
            <tr>
              <td>email:</td><td><%= @user.email %></td>
            </tr>
          <% end %>
          <%
            user_routes = @user.routes
            user_routes = user_routes.collect(&:name) if user_routes.present?
            user_groups = @user.groups
            user_groups = user_groups.collect(&:name) if user_groups.present?
          %>
          <% if user_routes.present? %>
            <tr>
              <td><%= 'route'.pluralize(user_routes.count) %>:</td>
              <td><%= user_routes.to_sentence %></td>
            </tr>
          <% end %>
          <% if user_groups.present? %>
            <tr>
              <td><%= 'group'.pluralize(user_groups.count) %>:</td>
              <td><%= user_groups.to_sentence %></td>
            </tr>
          <% end %>
          <tr>
            <td>region:</td>
            <td><%= @user.region.name %></td>
          </tr>
          <tr>
            <td> </td>
            <td>
              <% if current_user == @user %>
                <%= link_to 'edit my details', edit_user_registration_path %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <%= render 'user_issues' %>

    </div>
  </div>
</div>
