<%= simple_form_for(@segment) do |f| %>
  <%= content_tag :p, @segment.errors.full_messages.to_sentence, style: 'color:red' %>
  <div class="row form-inputs">
    <div class="medium-5 columns">
      <%= f.input :administrative_area_id, collection: @administrative_areas %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :route_id, collection: @routes %>
    </div>
    <div class="medium-2 columns">
      <%= f.input :region_id, collection: @regions %>
    </div>
    <div class="medium-3 columns">
      <%= f.input :location, label: "Location (optional)", input_html: { maxlength: 44 } %>
    </div>
  </div>

  <div class="row form-inputs">
    <div class="medium-5 columns">
      <%= f.input :last_checked_by_id, collection: @rangers %>
    </div>
    <div class="medium-7 columns">
      <%= f.input :last_checked_on, include_blank: true %>
    </div>
  </div>


  <%= f.input :track_points, as: :text, input_html: {rows: 10} %>

  <%= f.input :track_file, as: :file %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
