<article class='page'>
  <div class='row'>
    <div class='small columns'>
      <h1>Listing pages</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>Editable by</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @pages.each do |page| %>
            <tr>
              <td><%= page.name %></td>
              <td><%= page.slug %></td>
              <td><%= page.role %></td>
              <td><%= link_to 'Show', page if can? :read, page %></td>
              <td><%= link_to 'Edit', edit_page_path(page) if can? :manage, page %></td>
              <td>
                <% if (can? :manage, page) && page.slug != 'welcome' %>
                  <%= link_to '×', page, method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to '< back to control panel', controls_path %> | <%= link_to 'New Page', new_page_path %>
    </div>
  </div>
</article>