<article class='page'>
  <div class='row'>
    <div class='small columns'>
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @page.name %>
      </p>

      <p>
        <strong>Slug:</strong>
        <%= @page.slug %>
      </p>

      <p>
        <strong>Content:</strong>
        <%= @page.content %>
      </p>

      <p>
        <strong>Role:</strong>
        <%= @page.role %>
      </p>

      <% if can? :edit, @page %>
        <%= link_to 'Edit', edit_page_path(@page) %> |
      <% end %>
      <%= link_to 'Index', pages_path %> |
      <%= link_to 'View page >', view_page_path(@page.slug) %>
    </div>
  </div>
</article>