<% if @number_of_possitive_counters == 1 %>




  <% if @user_draft_issue_count > 0 %>
    <%= link_to issues_path(state: 'draft') do %>
      <span class='ncn-style-count'><%= @user_draft_issue_count %></span> draft
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>

  <% if @user_submitted_issue_count > 0 %>
    <%= link_to issues_path(state: 'submitted', route: @user_route_slugs, area: @user_area_ids) do %>
      <span class='ncn-style-count'><%= @user_submitted_issue_count %></span> submitted
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>

  <% if @user_resolved_issue_count > 0 %>
    <%= link_to issues_path(state: 'resolved', route: @user_route_slugs, area: @user_area_ids) do %>
      <span class='ncn-style-count'><%= @user_resolved_issue_count %></span> resolved
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>

  <% if @own_issue_resolved_count > 0 %>
    <%= link_to issues_path(state: 'resolved', user: current_user.id) do %>
      <span class='ncn-style-count'><%= @own_issue_resolved_count %></span> own resolved
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>

  <% if @own_issue_unsolvable_count > 0 %>
    <%= link_to issues_path(state: 'unsolvable', user: current_user.id) do %>
      <span class='ncn-style-count'><%= @own_issue_unsolvable_count %></span> own unsolvable
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>

  <% if @open_for_sustrans_count > 0 %>
    <% if @user_route_slugs.present? && @user_area_ids.present? %>
      <%= link_to issues_path(state: 'open', label: @sustrans_label_id, route: @user_route_slugs, area: @user_area_ids) do %>
        <span class='ncn-style-count'><%= @open_for_sustrans_count %></span> open - sustrans
      <% end %>
    <% else %>
      <%= link_to issues_path(state: 'open', label: @sustrans_label_id) do %>
        <span class='ncn-style-count'><%= @open_for_sustrans_count %></span> open - sustrans
      <% end %>
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>

  <% if @open_for_council_count > 0 %>
    <% if @user_route_slugs.present? && @user_area_ids.present? %>
      <%= link_to issues_path(state: 'open', label: @council_label_id, route: @user_route_slugs, area: @user_area_ids) do %>
        <span class='ncn-style-count'><%= @open_for_council_count %></span> open - council
      <% end %>
    <% else %>
      <%= link_to issues_path(state: 'open', label: @council_label_id) do %>
        <span class='ncn-style-count'><%= @open_for_council_count %></span> open - council
      <% end %>
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>




<% elsif  @number_of_possitive_counters > 1 %>
  <a data-dropdown="nofications-dropdown" data-options="is_hover:true; hover_timeout:30000">
    <span class='ncn-style-count'><%= @total_pending_count %></span> notifications
    &nbsp;&bullet;&nbsp;
  </a>

  <ul id="nofications-dropdown" class="f-dropdown" data-dropdown-content>

    <%#   DRAFT    %>
    <% if @user_draft_issue_count > 0 %>
      <li>
        <%= link_to issues_path(state: 'draft') do %>
          <b><%= @user_draft_issue_count %></b> draft <%= 'issue'.pluralize(@user_draft_issue_count) %>
        <% end %>
      </li>
    <% end %>

    <%#   SUBMITTED    %>
    <% if @user_submitted_issue_count > 0 %>
      <li>
        <%= link_to issues_path(state: 'submitted', route: @user_route_slugs, area: @user_area_ids) do %>
          <b><%= @user_submitted_issue_count %></b> submitted <%= 'issue'.pluralize(@user_submitted_issue_count) %>
        <% end %>
      </li>
    <% end %>

    <%#   RESOLVED    %>
    <% if @user_resolved_issue_count > 0 %>
      <li>
        <%= link_to issues_path(state: 'resolved', route: @user_route_slugs, area: @user_area_ids) do %>
          <b><%= @user_resolved_issue_count %></b> resolved <%= 'issue'.pluralize(@user_resolved_issue_count) %>
        <% end %>
      </li>
    <% end %>

    <%#   OWN RESOLVED    %>
    <% if @own_issue_resolved_count > 0 %>
      <li>
        <%= link_to issues_path(state: 'resolved', user: current_user.id) do %>
          <b><%= @own_issue_resolved_count %></b> own resolved <%= 'issue'.pluralize(@own_issue_resolved_count) %>
        <% end %>
      </li>
    <% end %>

    <%#   OWN UNSOLVABLE    %>
    <% if @own_issue_unsolvable_count > 0 %>
      <li>
        <%= link_to issues_path(state: 'unsolvable', user: current_user.id) do %>
          <b><%= @own_issue_unsolvable_count %></b> own unsolvable <%= 'issue'.pluralize(@own_issue_unsolvable_count) %>
        <% end %>
      </li>
    <% end %>

    <%# OPEN FOR SUSTRANS %>
    <% if @open_for_sustrans_count > 0 %>
      <li>
        <% if @user_route_slugs.present? && @user_area_ids.present? %>
          <%= link_to issues_path(state: 'open', label: @sustrans_label_id, route: @user_route_slugs, area: @user_area_ids) do %>
            <b><%= @open_for_sustrans_count %></b> open sustrans <%= 'issue'.pluralize(@open_for_sustrans_count) %>
          <% end %>
        <% else %>
          <%= link_to issues_path(state: 'open', label: @sustrans_label_id) do %>
            <b><%= @open_for_sustrans_count %></b> open sustrans <%= 'issue'.pluralize(@open_for_sustrans_count) %>
          <% end %>
        <% end %>
      </li>
    <% end %>

    <%# OPEN FOR COUNCIL %>
    <% if @open_for_council_count > 0 %>
      <li>
        <% if @user_route_slugs.present? && @user_area_ids.present? %>
          <%= link_to issues_path(state: 'open', label: @council_label_id, route: @user_route_slugs, area: @user_area_ids) do %>
            <b><%= @open_for_council_count %></b> open council <%= 'issue'.pluralize(@open_for_council_count) %>
          <% end %>
        <% else %>
          <%= link_to issues_path(state: 'open', label: @council_label_id) do %>
            <b><%= @open_for_council_count %></b> open council <%= 'issue'.pluralize(@open_for_council_count) %>
          <% end %>
        <% end %>
      </li>
    <% end %>

  </ul>

<% end %>