<% if @number_of_possitive_counters == 1 %>




  <% if @user_draft_issue_count > 0 %>
    <%= link_to issues_path(state: 'draft') do %>
      <span class='ncn-style-count'><%= @user_draft_issue_count %></span> draft
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>

  <% if @user_submitted_issue_count > 0 %>
    <%= link_to issues_path(state: 'submitted', route: @user_routes, area: @user_areas) do %>
      <span class='ncn-style-count'><%= @user_submitted_issue_count %></span> submitted
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>

  <% if @user_resolved_issue_count > 0 %>
    <%= link_to issues_path(state: 'resolved', route: @user_routes, area: @user_areas) do %>
      <span class='ncn-style-count'><%= @user_resolved_issue_count %></span> resolved
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>

  <% if @own_issue_resolved_count > 0 %>
    <%= link_to issues_path(state: 'resolved', user: current_user) do %>
      <span class='ncn-style-count'><%= @user_resolved_issue_count %></span> own resolved
    <% end %>
    &nbsp;&bullet;&nbsp;
  <% end %>





<% elsif  @number_of_possitive_counters > 1 %>
  <a data-dropdown="nofications-dropdown" data-options="is_hover:true; hover_timeout:30000">
    <span class='ncn-style-count'><%= @total_pending_count %></span> notifications
    &nbsp;&bullet;&nbsp;
  </a>

  <ul id="nofications-dropdown" class="f-dropdown" data-dropdown-content>

    <%#   DRAFT    %>
    <% if @user_draft_issue_count > 0 %>
      <li>
        <%= link_to issues_path(state: 'draft') do %>
          <b><%= @user_draft_issue_count %></b> draft <%= 'issue'.pluralize(@user_draft_issue_count) %>
        <% end %>
      </li>
    <% end %>

    <%#   SUBMITTED    %>
    <% if @user_submitted_issue_count > 0 %>
      <li>
        <%= link_to issues_path(state: 'pending') do %>
          <b><%= @user_submitted_issue_count %></b> submitted <%= 'issue'.pluralize(@user_submitted_issue_count) %>
        <% end %>
      </li>
    <% end %>

    <%#   RESOLVED    %>
    <% if @user_resolved_issue_count > 0 %>
      <li>
        <%= link_to issues_path(state: 'pending') do %>
          <b><%= @user_resolved_issue_count %></b> resolved <%= 'issue'.pluralize(@user_resolved_issue_count) %>
        <% end %>
      </li>
    <% end %>

    <%#   OWN RESOLVED    %>
    <% if @own_issue_resolved_count > 0 %>
      <li>
        <%= link_to issues_path(state: 'pending') do %>
          <b><%= @own_issue_resolved_count %></b> own resolved <%= 'issue'.pluralize(@own_issue_resolved_count) %>
        <% end %>
      </li>
    <% end %>

  </ul>

<% end %>