<%= simple_form_for(@route) do |f| %>
  <%= f.error_notification %>

  <div class='row'>
    <div class="medium-6 columns form-inputs">
      <%= f.input :name %>
    </div>
    <div class="medium-6 columns form-inputs">
      <%= f.input :slug, disabled: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
