<article class='route'>
  <div class='row'>
    <div class='small-12 columns'>

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @route.name %>
      </p>

      <%= link_to 'Edit', edit_route_path(@route) %> |
      <%= link_to 'Back', routes_path %>

      <%= link_to 'Back', routes_path %>
    </div>
  </div>
</div>