<article class='category'>
  <div class='row'>
    <div class='small-12 columns'>

      <h1>Listing categories</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <% has_issues = category.issues.limit(1).present? %>
            <tr>
              <td>
                <% if has_issues %>
                  <%= link_to category.name, issues_path(category: category.id, state: :all) %>
                <% else %>
                  <%= category.name %>
                <% end %>
              </td>
              <td><%= link_to 'Show', category %></td>
              <td><%= link_to 'Edit', edit_category_path(category) %></td>
              <td>
                <% unless has_issues %>
                  <%= link_to '×', category, method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to '◂ back to control panel', controls_path %> | <%= link_to 'New Category', new_category_path %>

    </div>
  </div>
</article>