<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :name, autofocus: true %>
  <%= f.input :email %>
  <%= f.label :role %>
  <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  <%= f.input :is_admin, label: "administrator" %>
  <%= f.input :is_locked, label: "locked" %>
  <%= f.association :region %>
  <%= f.association :groups, collection: Group.where(region: (f.object.region || current_user.region)), label: "Groups (Ctrl-select)" %>
  <%= f.association :routes, label: "Routes (Ctrl-select)" %>

  <%= f.label :administrative_area_tokens, "Managed areas" %>
  <%= f.text_field :administrative_area_tokens,
      "data-pre" => @user.administrative_areas.collect{ |a| {id: a.id, name: a.short_name }}.to_json
  %>

<%= link_to "locate areas on map", '#', class: 'areas-finder-modal-link' %>


  <%= f.association :labels, label: "Label for notification (Ctrl-select)" %>
  <%= f.input :receive_email_notifications %>


  <%= f.input :password, autocomplete: "off", required: false %>
  <%#= f.input :password_confirmation, required: false %>

  <%= f.input :creator_id, as: :hidden, input_html: { value: current_user.id } %>
</div>



<div id="areasFinderModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <div id="areas-map-canvas" style="height: 400px;"></div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
