<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :name, autofocus: true %>
  <%= f.input :email %>
  <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  <%= f.input :is_admin, label: "administrator" %>
  <%= f.input :is_locked, label: "locked" %>
  <%= f.association :routes %>
  <%= f.association :areas %>
  <%= f.association :labels, label: "Label for notification" %>


  <%= f.input :password, autocomplete: "off", required: false %>
  <%#= f.input :password_confirmation, required: false %>
</div>

