
<article class='admin users'>

  <div class='row'>
    <div class='small-12 columns'>

      <h1>Admin: Users</h1>
      <% if can? :manage, User %>
        &nbsp;-&nbsp;<%= link_to 'create new', new_admin_user_path, class: 'create-new-issue' %>
      <% end %>

      <% if can? :manage, User %>
        <div>
          <%= form_tag site_notification_emails_path, method: :get, class: 'send-site-notifications' do %>
            <%= submit_tag 'Send Notifications',
            data: { confirm: "Send notification emails to all users?" },
            class: 'button secondary tiny',
            title: 'Click here to send notification emails to all users that have issues to review'
          %>
          <% end %>

          <% first_region = Region.first %>
          <% if first_region.notifications_sent_at.present? %>
            <%
              if first_region.notifications_sent_at.today?
                highlight_priority_class = 'today'
              elsif first_region.notifications_sent_at > (Date.today - 13.days)
                highlight_priority_class = 'recently'
              else
                highlight_priority_class = ''
              end

            %>
            <span class="site-notification-sent-time <%= highlight_priority_class %>">
              Last sent: <%= raw Region.first.notifications_sent_at.strftime("%H:%M %a&nbsp;%d&nbsp;%B&nbsp;%Y") %>
            </span>
          <% end %>
        </div>
      <% end %>

<!--       <h3>Useful lists</h3>
      <ul>
        <li><%#= link_to 'volunteers with no groups', admin_users_path(role: 'volunteer.ranger.coordinator', group: 'none') %>
      </ul>
 -->
      <%= render 'user_filters' %>

      <table class="responsive users">
        <thead>
          <tr>
            <td> </td>
            <td>Name</td>
            <td>Role</td>
            <td></td>
            <td></td>
            <td>Email</td>
            <td>Active</td>
            <td> </td>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="<%= updated_summary(user) %>">
              <td><%= image_tag user.image_url(:small_thumb), alt: '' if user.image_url(:small_thumb) %></td>
              <td><%= link_to user.name, admin_user_path(user) %></td>
              <td><%= user.role %></td>
              <td><%= user.is_admin ? 'admin' : '' %>
              <td><%= user.is_locked ? 'locked' : '' %>
              <td><%= user.email %></td>
              <td>
                <% if user.current_sign_in_at %>
                  <%=
                    if user.updated_at.today?
                      user.updated_at.strftime("%H:%M")
                    else
                      user.updated_at.strftime("%d-%m-%Y")
                    end
                  %>
                <% end %>
              </td>
              <td>
                <% if user.removable? && can?(:manage, User) %>
                  <%= link_to "&times;".html_safe, admin_user_path(user), method: :delete, data: { confirm: "Are you sure? This can't be undone."} %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to '< back to control panel', controls_path, style: 'float:right' %>
    </div>
  </div>
</article>
