
<article class='admin'>
  <div class='row'>
    <div class='small-12 columns'>
      <h1>Admin: Users</h1>
      <% if can? :manage, User %>
        &nbsp;-&nbsp;<%= link_to 'create new', new_admin_user_path, class: 'create-new-issue' %>

        <%= form_tag site_notification_emails_path, method: :get do %>
          <%= submit_tag 'Send Notifications', data: { confirm: "Send notification emails to all users?" } %>
        <% end %>

      <% end %>

      <table>
        <thead>
          <tr>
            <td>
            <td>Name</td>
            <td>Role</td>
            <td></td>
            <td></td>
            <td>Email</td>
            <td>Active</td>
            <td> </td>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.image_url(:small_thumb), alt: '', width: 50 %></td>
              <td><%= link_to user.name, admin_user_path(user) %></td>
              <td><%= user.role %></td>
              <td><%= user.is_admin ? 'admin' : '' %>
              <td><%= user.is_locked ? 'locked' : '' %>
              <td><%= user.email %></td>
              <td>
                <% if user.current_sign_in_at %>
                  <%=
                    if user.updated_at.today?
                      user.updated_at.strftime("%H:%M")
                    else
                      user.updated_at.strftime("%d-%m-%Y")
                    end
                  %>
                <% end %>
              </td>
              <td>
                <% if user.removable? && can?(:manage, User) %>
                  <%= link_to "&times;".html_safe, admin_user_path(user), method: :delete, data: { confirm: "Are you sure? This can't be undone."} %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to '< back to control panel', controls_path, style: 'float:right' %>
    </div>
  </div>
</article>
