
<article class='admin'>
  <div class='row'>
    <div class='small-12 columns'>

      <h1>Admin: User <%= @user.name %></h1>

      <table>
        <tbody>
          <tr>
            <td>email:</td><td><%= @user.email %></td>
          </tr>
          <tr>
            <td>Role:</td><td><%= @user.role %></td>
          </tr>
          <% if @user.is_admin? %>
            <tr>
              <td></td><td>administrator</td>
            </tr>
          <% end %>
          <% if @user.is_locked? %>
            <tr>
              <td></td><td><b>account is locked</b></td>
            </tr>
          <% end %>
          <tr>
            <td>Region:</td><td><%= @user.region.try(:name) %></td>
          </tr>
          <tr>
            <td>Routes:</td><td><%= @user.administrative_areas.collect(&:short_name).to_sentence %></td>
          </tr>
          <tr>
            <td>Areas:</td><td><%= @user.routes.collect(&:name).to_sentence %></td>
          </tr>
          <tr>
            <td>Created:</td><td><%= @user.created_at.strftime("%d %b %Y - %H:%M") %></td>
          </tr>
          <tr>
            <td>Created by:</td><td><%= link_to @user.creator.name, admin_user_path(@user.creator) %></td>
          </tr>
          <% if @user.current_sign_in_at %>
            <tr>
              <td>Active:</td><td><%= @user.updated_at.strftime("%d %b %Y - %H:%M") %></td>
            </tr>
            <% if can? :manage, User %>
              <tr>
                <td>Sign-in IP:</td><td><%= @user.current_sign_in_ip %></td>
              </tr>
            <% end %>
          <% end %>

        </tbody>
      </table>

      <%= link_to 'Index', admin_users_path %>
      <% if can? :manage, User %>
        | <%= link_to 'Edit', edit_admin_user_path %>
      <% end %>

    </div>
  </div>
</article>
