<%= simple_form_for(@region) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <div class="row form-inputs">
    <div class='medium-6 columns'>
      <%= f.input :lat %>
    </div>
    <div class='medium-6 columns'>
      <%= f.input :lng %>
    </div>
    <div class='medium-6 columns'>
      <%= f.input :email %>
    </div>
    <div class='medium-6 columns'>
      <%= f.input :email_name %>
    </div>
    <div class='medium-6 columns'>
      <%= f.input :map_zoom %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
