<header>
  <div class="row">
    <div class="small-12 columns">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user.present? %>
        <div class='controls-row'>
          <%= 
            unless params[:action] == "controls"
              link_to controls_path, id: 'controls-cog', class: 'controls-icon' do 
                image_tag 'settings-cog.png'
              end
            end
          %>
        </div>
      <% end %>
      <div class='header-controls'>
        <div class='logo-area' data-no-turbolink>
          <%= link_to '/' do %>
            <%= image_tag 'logo.png', alt: '' %>
          <% end %>
        </div>

        <div class='user-controls-area'>
          <% if user.present? %>

            <div class='user-controls show-for-medium-up'>

              <% if @user_draft_issue_count > 0 %>
                <%= link_to issues_path(state: 'draft') do %>
                  <span class='ncn-style-count'><%= @user_draft_issue_count %></span> draft
                <% end %>
                &nbsp;&bullet;&nbsp;
              <% end %>

              <%= link_to current_user.name, user_path(current_user) %>
              &nbsp;&bullet;&nbsp;&nbsp;
              <%= 
                  link_to 'sign out', 
                    destroy_user_session_path, 
                    method: :delete, 
                    style: 'float:right'
              %>
            </div>
            <div class='user-controls show-for-small-only'>
              <nav class="top-bar" data-topbar role="navigation">
                <section class="top-bar-section">
                  <ul class="right">
                    <li class="has-dropdown">
                      <a href="#">Me</a>
                      <ul class="dropdown">
                        <li>
                          <%= link_to 'Profile', user_path(current_user) %>
                        </li>
                        <li>
                          <%= 
                              link_to 'sign out', 
                                destroy_user_session_path, 
                                method: :delete, 
                                style: 'float:right'
                          %>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>
              </nav>
            </div>
          <% end %>
        </div>
      </div>

      <% if user.present? %>
        <nav class="top-bar main-nav" data-topbar role="navigation">
          <section class="top-bar-section">
            <ul class="left">
              <li class="<%= params["controller"] == "issues" ? 'current' : '' %>">
                <%= link_to "Issues", issues_path(the_params(params)) %>
              </li>
              <li class="<%= params["controller"] == "updates" ? 'current' : '' %>">
                <%= link_to "Updates", updates_path %>
              </li>
              <li  class="<%= params["controller"] == "users" ? 'current' : '' %>">
                <%= link_to "Users", users_index_path %>
              </li>
              <li class="<%= params["controller"] == "pages" ? 'current' : '' %>">
                <%= link_to "Pages", main_page_path %>
              </li>
            </ul>
          </section>
        </nav>
      <% end %>

    </div>
  </div>
</header>

  <div id="tubolinks-loader" style='display: none;'>
    <%= image_tag 'icons/AjaxLoader.gif', alt: 'loading page...' %>
  </div>
