<header>
  <div class="row">
    <div class="small-12 columns">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%#= link_to 'NCN Reporting', '/' %>
      <%= link_to '/' do %>
        <%= image_tag 'logo.png' %>
      <% end %>
      <% if user.present? %>
        <div class='user-controls'>
          <%= 
            unless params[:action] == "controls"
              link_to controls_path, id: 'controls-cog' do 
                image_tag 'settings-cog.png'
              end
            end
          %>
          <%= link_to current_user.name, user_path(current_user) %>
          &nbsp;&bullet;&nbsp;&nbsp;  
          <%= 
              link_to 'sign out', 
                destroy_user_session_path, 
                method: :delete, 
                style: 'float:right'
          %>
        </div>
      <% end %>
    </div>
  </div>
</header>